# netlify.toml
[build]
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/games"
  to = "/games.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200